<form  ng-submit="vm.createReview()">
  <div >
    <label>IMDB Id</label>
    <input type="text" ng-model="vm.newReview.imdb_id" placeholder="Copy IMDB Id from URL">
  </div>
  <div >
    <label>Viewing Platform</label>
    <input type="text" ng-model="vm.newReview.viewing_platform" placeholder="Where did you watch this on?">
  </div>
  <div >
    <label>Rating</label>
    <input type="number" step="0.1" ng-model="vm.newReview.rating" placeholder="Rating 1-10 (Decimal)">
  </div>
  <div >
    <label>Review</label>
    <textarea rows="2" ng-model="vm.newReview.description" placeholder="Short Description"></textarea>
  </div>
  <button  type="submit">Submit</button>
</form>
