<p ng-if="!!error ">Error registering - {{ error }} </p>
<p ng-if="!!errors ">Errors registering - {{ errors }} </p>

<div class="column">
  <form class="ui form" ng-submit="vm.register()" ng-if="!currentUser.username">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" ng-model="vm.userForm.username" required>
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <div class="ui left icon input">
          <input type="text" ng-model="vm.userForm.email" required>
          <i class="mail icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" ng-model="vm.userForm.password" required>
          <i class="lock icon"></i>
        </div>
      </div>

      <div class="ui blue submit button">Register</div>
    </form>
  </div>