<!DOCTYPE html>
<html>
  <head>
    <title>ThoseMovieGuys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <a ui-sref="home">Home</a> - <a ng-if="!currentUser.username" ui-sref="login">Login</a> - <a ng-if="!currentUser.username" ui-sref="register">Register</a> - <a ui-sref="about">About Those Movie Guys</a>
  </head>

  <body ng-app="those-movie-guys">
  <%= yield %>
  </body>
</html>
