<!DOCTYPE html>
<html>
  <head>
    <title>Those Movie Guys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <div class="ui  menu">
  <a class="active item" ui-sref="home">
    Home
  </a>
  <a class="item" ui-sref="reviews">
    Reviews
  </a>
  <a class="item" ui-sref="about">
    About
  </a>
  <a class="item" ui-sref="createReview" ng-if="currentUser.username">
    Create Review
  </a>
  <a class="item" ui-sref="login" ng-if="!currentUser.username">
    Login
  </a>
  <a class="item" ui-sref="register" ng-if="!currentUser.username">
    Register
  </a>

  </div>




    

  </head>

  <body ng-app="those-movie-guys">
  <%= yield %>
  </body>
</html>
